.blockquote {
    background: #f9f9f9;
    border-left: 10px solid #ccc;
    margin-top: 50px;
}

.blockquote:before {
    color: #bfbfbf;
    content: open-quote;
    font-size: 7em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
}

.blockquote p {
    font-size: 1.75em;
}

.author {
    margin-left: 0.5em;
    font-size: 2em;
    font-family: 'Rock Salt', cursive;
}

#quote {
    padding: 10px;
    margin-left: 10px;
}

#tweet {
    padding: 10px;
}